[submodule "08-Graalpython-Java-example/graalpython-java-example"]
	path = 08-Graalpython-Java-example/graalpython-java-example
	url = git@github.com:hpi-swa-lab/graalpython-java-example.git
[submodule "10-Espresso-Java-on-Truffle/spring-petclinic"]
	path = 10-Espresso-Java-on-Truffle/spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic.git
[submodule "03-CLI-applications-with-Micronaut-and-GraalVM-Native-Image/micronaut-weather-cli"]
	path = 03-CLI-applications-with-Micronaut-and-GraalVM-Native-Image/micronaut-weather-cli
	url = git@github.com:pgillet/micronaut-weather-cli.git
[submodule "09-Simple-Language/simplelanguage"]
	path = 09-Simple-Language/simplelanguage
	url = https://github.com/graalvm/simplelanguage
